#chat-screen,
#chat-screen .status-bar,
#chat-screen .alt-header {
  background-color: #b0c0cf;
}

#chat-screen .status-bar {
  z-index: 2;
}

#chat-screen .alt-header {
  z-index: 1;
  top: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

@keyframes fadeIn {
  from {
    transform: translateY(30px);
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.main-chatroom {
  margin-top: 105px;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 0.8s linear;
}

.chatroom__timestamp {
  background-color: rgba(0, 0, 0, 0.17);
  padding: 10px 15px;
  border-radius: 100px;
  color: white;
  font-size: 14px;
  margin-bottom: 25px;
}

.message-row {
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}

.message-row img {
  width: 50px;
  height: 50px;
  border-radius: 20px;
  margin-right: 6px;
}

.message__author {
  opacity: 0.8;
  font-size: 17px;
  display: block;
  margin-bottom: 8px;
}

.message__info {
  display: flex;
  align-items: end;
}

.message__bubble {
  background-color: white;
  padding: 11px;
  border-radius: 15px;
  border-top-left-radius: 0;
  font-size: 19px;
}

.message__time {
  font-size: 12px;
  opacity: 0.8;
  margin: 0px 7px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row--own .message__bubble {
  background-color: var(--yello);
  border-top-left-radius: 15px;
  border-top-right-radius: 0;
}

.message-row--own .message__info {
  flex-direction: row-reverse;
}

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  align-items: center;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

.reply .reply__column:first-child {
  width: 10%;
}

.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  height: 30px;
  width: 100%;
  border: var(--main-border);
  border-radius: 100px;
  padding-left: 15px;
  transition: all 0.3s ease-in-out;
}

.reply__column button {
  background-color: var(--yello);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  position: absolute;
  right: -17px;
  top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reply__column:last-child > i {
  position: absolute;
  top: 4px;
  right: 23px;
}

.reply__column button:focus,
.reply__column button:active {
  outline: none;
}

.reply__column > i {
  font-size: 25px;
  color: var(--gray);
}

@keyframes profileAnimation {
  from {
    transform: rotateX(360deg);
  }
  to {
    transform: none;
  }
}

.message-row img:hover {
  will-change: transform;
  animation: profileAnimation 0.3s ease-out;
}

.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-face-smile,
.reply:focus-within button {
  opacity: 0;
}

.reply:focus-within input {
  width: 90vw;
  transform: translateX(-12%) translateY(-80px);
}

.reply:focus-within {
  transform: translateY(80px);
}
