.recommended-friends {
  margin: 25px 0px;
  border-top: var(--main-border);
  border-bottom: var(--main-border);
  padding: 20px 0px;
}

.recommended-friends__title {
  font-size: 16px;
  color: var(--gray);
}

.recommended-friends span {
  display: block;
  margin: 110px 0px;
  text-align: center;
  color: var(--gray);
  font-size: 19px;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  color: var(--gray);
  font-size: 16px;
  margin-bottom: 25px;
}

.open-chat__header span {
  opacity: 0.8;
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.open-post__title {
  font-size: 21px;
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  font-size: 17px;
  text-transform: uppercase;
  color: var(--gray);
}

.open-post__members {
  font-size: 15px;
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  margin-right: 5px;
  width: 24px;
  height: 24px;
  border-radius: 100%;
}

.open-post__member-count {
  color: var(--gray);
}

.open-post__member-status {
  color: #ed77c4;
}

.open-post__members .divider {
  margin: 0px 5px;
  width: 1px;
  height: 15px;
  background-color: var(--gray);
  opacity: 0.7;
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 110px;
  height: 110px;
  border-radius: 10px;
}

.open-post__heart-count {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 5px;
  bottom: 7px;
}

.open-post__heart-count span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
    transform: none;
  }
  50% {
    color: tomato;
    transform: scale(1.8);
  }
  100% {
    color: white;
    transform: none;
  }
}

.open-post__heart-count:hover i {
  will-change: transform;
  animation: heartBeat 1s linear infinite;
}
