.find-icons {
  display: flex;
  justify-content: space-between;
}

.find-icons__icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 80px;
}

.find-icons__icon i {
  font-size: 30px;
}

.find-icons__icon span {
  margin-top: 15px;
}

.recommended-friends {
  margin: 25px 0px;
  border-top: var(--mian-border);
  border-bottom: var(--mian-border);
  padding: 20px 0px;
}

.recommended-friends__title {
  font-size: 14px;
  color: var(--gray);
}

.recommended-friends span {
  display: block;
  margin: 110px 0px;
  text-align: center;
  color: var(--gray);
  font-size: 18px;
}
