#friends-display-link {
  text-align: center;
  display: block;
  background-color: #f8f8f8;
  padding: 15px 0px;
  font-weight: 400;
  font-size: 17px;
  margin-bottom: 10px;
  margin-top: -10px;
}

#friends-display-link i {
  color: rgba(0, 0, 0, 0.15);
}

.friends-screen__channel-header {
  margin-top: 15px;
  border-top: var(--main-border);
  padding-top: 13px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 25px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

#splash-screen {
  background-color: var(--yello);
  position: absolute;
  width: 100vw;
  height: 100vh;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  color: #381f1f;
  animation: hideSplashScreen 0.4s ease-in-out forwards;
  animation-delay: 1.5s;
}
