.welcome-header {
  margin: 80px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
.welcome-header__title {
  margin-bottom: 35px;
  font-size: 25px;
}
.welcome-header__text {
  width: 60%;
  opacity: 0.5;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0px 30px;
}

#login-form input {
  border: none;
  padding: 25px 0px;
  font-size: 20px;
}

#login-form input:not([type="submit"]) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  transition: border-color 0.3s ease-in-out;
}

#login-form input::placeholder {
  opacity: 0.7;
}

#login-form input:focus {
  border-color: var(--yello);
}

#login-form input[type="password"] {
  margin-bottom: 40px;
}

#login-form input[type="submit"] {
  background-color: var(--yello);
  cursor: pointer;
  margin-bottom: 25px;
  border-radius: 5px;
}

#login-form a {
  text-align: center;
  font-size: 15px;
}
