.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  margin-right: 12px;
}

.settings__setting-column:last-child {
  color: var(--gray);
}
