.alt-header {
  display: flex;
  align-items: center;
  padding: 40px var(--horizontal-space) 30px var(--horizontal-space);
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
  font-size: 27px;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__title {
  font-size: 27px;
  font-weight: 600;
}

.alt-header__column:last-child {
  display: flex;
  justify-content: flex-end;
  margin-left: auto;
  font-size: 23px;
}

.alt-header__column:last-child span:not(:first-child) {
  margin-left: 10px;
}
