.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f7f7f7;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #30363d;
  position: relative;
}

.nav__notification {
  background-color: tomato;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
  position: absolute;
  left: 20px;
  bottom: 8px;
}

.nav__notification__dot {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  position: absolute;
  left: 27px;
  bottom: 18px;
}
