.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 55px var(--horizontal-space) 30px var(--horizontal-space);
}

.screen-header__title {
  font-size: 32px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__notification {
  position: relative;
}

.screen-header__notification__dot {
  position: absolute;
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 3px;
  bottom: 19px;
}

@keyframes rotateGear {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-gear:hover {
  animation: rotateGear 1s linear infinite;
}
